In [9]:
from dotenv import load_dotenv
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import sys
import os

# Add the scripts folder to the Python path
scripts_path = os.path.abspath('../scripts')
print(f"Scripts path: {scripts_path}")
sys.path.append(scripts_path)

# Now import the required functions
try:
    from data_extraction import load_data_from_postgres, load_data_using_sqlalchemy
    from sql_queries import execute_telecom_queries
    print("Imports successful")
except ImportError as e:
    print(f"Error importing modules: {e}")

Scripts path: /home/dura/Codes/week2/scripts
Imports successful

In [11]:
# SQL query
query = "SELECT * FROM xdr_data;"  

# Load data from PostgreSQL
df = load_data_from_postgres(query)

# Display the first few rows of the dataframe
if df is not None:
    print("Successfully loaded the data")
else:
    print("Failed to load data.")

/home/dura/Codes/week2/scripts/data_extraction.py:38: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Successfully loaded the data

In [12]:
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7.277826e+18,4/29/2019 7:28,451.0,4/30/2019 6:02,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7.349883e+18,4/29/2019 7:28,483.0,4/30/2019 10:41,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,1.311448e+19,4/29/2019 7:28,283.0,4/30/2019 10:46,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,1.311448e+19,4/29/2019 7:28,696.0,4/30/2019 10:40,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,NaN,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

In [20]:
import pandas as pd
import numpy as np

# Assuming df is the DataFrame containing the dataset
# Inspect the data
print("Data Overview:")
print(df.info())
print(df.describe())

# Handle missing values
for column in df.columns:
    if df[column].dtype in ['float64', 'int64']:
        df[column] = df[column].fillna(df[column].mean())
    else:
        df[column] = df[column].fillna(df[column].mode()[0])

# Handle outliers (using IQR)
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = df[column].clip(lower=lower_bound, upper=upper_bound)

# Verify that there are no NaN values left
print("Data after handling missing values and outliers:")
print(df.info())
print(df.describe())

Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start                                     150001 non-null  object
 2   Start ms                                  150001 non-null  float64
 3   End                                       150001 non-null  object
 4   End ms                                    150001 non-null  float64
 5   Dur. (ms)                                 150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN/Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last Location Name                        150001 non-null  object
 10  Avg RTT DL (ms)                           150001 non-null  float64
 11  Avg RTT UL (ms)                           150001 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150001 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 16  DL TP < 50 Kbps (%)                       150001 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 19  DL TP > 1 Mbps (%)                        150001 non-null  float64
 20  UL TP < 10 Kbps (%)                       150001 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 23  UL TP > 300 Kbps (%)                      150001 non-null  float64
 24  HTTP DL (Bytes)                           150001 non-null  float64
 25  HTTP UL (Bytes)                           150001 non-null  float64
 26  Activity Duration DL (ms)                 150001 non-null  float64
 27  Activity Duration UL (ms)                 150001 non-null  float64
 28  Dur. (ms).1                               150001 non-null  float64
 29  Handset Manufacturer                      150001 non-null  object
 30  Handset Type                              150001 non-null  object
 31  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150001 non-null  float64
 54  Total DL (Bytes)                          150001 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB
None
          Bearer Id       Start ms         End ms      Dur. (ms)  \
count  1.500010e+05  150001.000000  150001.000000  150001.000000
mean   1.013887e+19     499.188200     498.800880   99572.128983
std    2.883600e+18     288.610872     288.096693   59084.184127
min    6.917538e+18       0.000000       0.000000    7142.000000
25%    7.349883e+18     250.000000     251.000000   57442.000000
50%    7.349883e+18     499.000000     500.000000   86399.000000
75%    1.304243e+19     749.000000     750.000000  132430.000000
max    1.318654e+19     999.000000     999.000000  244912.000000

               IMSI  MSISDN/Number          IMEI  Avg RTT DL (ms)  \
count  1.500010e+05   1.500010e+05  1.500010e+05    150001.000000
mean   2.082015e+14   3.366999e+10  4.847455e+13        72.862020
std    3.925668e+08   3.532589e+07  2.237359e+13        51.361714
min    2.082008e+14   3.360168e+10  4.400152e+11         0.000000
25%    2.082014e+14   3.365151e+10  3.546261e+13        35.000000
50%    2.082015e+14   3.366380e+10  3.572241e+13        54.000000
75%    2.082018e+14   3.368473e+10  8.611970e+13       109.795706
max    2.082023e+14   3.373456e+10  9.900120e+13       221.989265

       Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  ...  Youtube DL (Bytes)  \
count    150001.000000            150001.000000  ...        1.500010e+05
mean         12.037797             11112.355328  ...        1.163407e+07
std          11.040917             17189.349903  ...        6.710569e+06
min           0.000000                 0.000000  ...        5.300000e+01
25%           3.000000                43.000000  ...        5.833501e+06
50%           7.000000                63.000000  ...        1.161602e+07
75%          17.662883             19710.000000  ...        1.744852e+07
max          39.657207             49210.500000  ...        2.325910e+07

       Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  \
count        1.500010e+05        1.500010e+05        1.500010e+05
mean         1.100941e+07        1.162685e+07        1.100175e+07
std          6.345423e+06        6.725218e+06        6.359490e+06
min          1.050000e+02        4.200000e+01        3.500000e+01
25%          5.517965e+06        5.777156e+06        5.475981e+06
50%          1.101345e+07        1.164222e+07        1.099638e+07
75%          1.651556e+07        1.747048e+07        1.650727e+07
max          2.201196e+07        2.325919e+07        2.201196e+07

       Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  \
count       1.500010e+05       1.500010e+05      1.500010e+05
mean        4.220447e+08       8.288398e+06      4.211005e+08
std         2.439675e+08       4.782700e+06      2.432050e+08
min         2.516000e+03       5.900000e+01      3.290000e+03
25%         2.104733e+08       4.128476e+06      2.101869e+08
50%         4.234081e+08       8.291208e+06      4.218030e+08
75%         6.331742e+08       1.243162e+07      6.316918e+08
max         8.434419e+08       1.655879e+07      8.434425e+08

       Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
count      1.500010e+05      1.500010e+05      1.500010e+05
mean       8.264799e+06      4.112120e+07      4.546434e+08
std        4.769004e+06      1.126923e+07      2.441421e+08
min        1.480000e+02      9.503716e+06      7.114041e+06
25%        4.145943e+06      3.322203e+07      2.431072e+08
50%        8.267071e+06      4.114324e+07      4.558409e+08
75%        1.238415e+07      4.903424e+07      6.657051e+08
max        1.655882e+07      7.275255e+07      9.029696e+08

[8 rows x 50 columns]
Data after handling missing values and outliers:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start                                     150001 non-null  object
 2   Start ms                                  150001 non-null  float64
 3   End                                       150001 non-null  object
 4   End ms                                    150001 non-null  float64
 5   Dur. (ms)                                 150001 non-null  float64
 6   IMSI                                      150001 non-null  float64
 7   MSISDN/Number                             150001 non-null  float64
 8   IMEI                                      150001 non-null  float64
 9   Last Location Name                        150001 non-null  object
 10  Avg RTT DL (ms)                           150001 non-null  float64
 11  Avg RTT UL (ms)                           150001 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150001 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 16  DL TP < 50 Kbps (%)                       150001 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 19  DL TP > 1 Mbps (%)                        150001 non-null  float64
 20  UL TP < 10 Kbps (%)                       150001 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 23  UL TP > 300 Kbps (%)                      150001 non-null  float64
 24  HTTP DL (Bytes)                           150001 non-null  float64
 25  HTTP UL (Bytes)                           150001 non-null  float64
 26  Activity Duration DL (ms)                 150001 non-null  float64
 27  Activity Duration UL (ms)                 150001 non-null  float64
 28  Dur. (ms).1                               150001 non-null  float64
 29  Handset Manufacturer                      150001 non-null  object
 30  Handset Type                              150001 non-null  object
 31  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150001 non-null  float64
 54  Total DL (Bytes)                          150001 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB
None
          Bearer Id       Start ms         End ms      Dur. (ms)  \
count  1.500010e+05  150001.000000  150001.000000  150001.000000
mean   1.013887e+19     499.188200     498.800880   99572.128983
std    2.883600e+18     288.610872     288.096693   59084.184127
min    6.917538e+18       0.000000       0.000000    7142.000000
25%    7.349883e+18     250.000000     251.000000   57442.000000
50%    7.349883e+18     499.000000     500.000000   86399.000000
75%    1.304243e+19     749.000000     750.000000  132430.000000
max    1.318654e+19     999.000000     999.000000  244912.000000

               IMSI  MSISDN/Number          IMEI  Avg RTT DL (ms)  \
count  1.500010e+05   1.500010e+05  1.500010e+05    150001.000000
mean   2.082015e+14   3.366999e+10  4.847455e+13        72.862020
std    3.925668e+08   3.532589e+07  2.237359e+13        51.361714
min    2.082008e+14   3.360168e+10  4.400152e+11         0.000000
25%    2.082014e+14   3.365151e+10  3.546261e+13        35.000000
50%    2.082015e+14   3.366380e+10  3.572241e+13        54.000000
75%    2.082018e+14   3.368473e+10  8.611970e+13       109.795706
max    2.082023e+14   3.373456e+10  9.900120e+13       221.989265

       Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  ...  Youtube DL (Bytes)  \
count    150001.000000            150001.000000  ...        1.500010e+05
mean         12.037797             11112.355328  ...        1.163407e+07
std          11.040917             17189.349903  ...        6.710569e+06
min           0.000000                 0.000000  ...        5.300000e+01
25%           3.000000                43.000000  ...        5.833501e+06
50%           7.000000                63.000000  ...        1.161602e+07
75%          17.662883             19710.000000  ...        1.744852e+07
max          39.657207             49210.500000  ...        2.325910e+07

       Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  \
count        1.500010e+05        1.500010e+05        1.500010e+05
mean         1.100941e+07        1.162685e+07        1.100175e+07
std          6.345423e+06        6.725218e+06        6.359490e+06
min          1.050000e+02        4.200000e+01        3.500000e+01
25%          5.517965e+06        5.777156e+06        5.475981e+06
50%          1.101345e+07        1.164222e+07        1.099638e+07
75%          1.651556e+07        1.747048e+07        1.650727e+07
max          2.201196e+07        2.325919e+07        2.201196e+07

       Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  \
count       1.500010e+05       1.500010e+05      1.500010e+05
mean        4.220447e+08       8.288398e+06      4.211005e+08
std         2.439675e+08       4.782700e+06      2.432050e+08
min         2.516000e+03       5.900000e+01      3.290000e+03
25%         2.104733e+08       4.128476e+06      2.101869e+08
50%         4.234081e+08       8.291208e+06      4.218030e+08
75%         6.331742e+08       1.243162e+07      6.316918e+08
max         8.434419e+08       1.655879e+07      8.434425e+08

       Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
count      1.500010e+05      1.500010e+05      1.500010e+05
mean       8.264799e+06      4.112120e+07      4.546434e+08
std        4.769004e+06      1.126923e+07      2.441421e+08
min        1.480000e+02      9.503716e+06      7.114041e+06
25%        4.145943e+06      3.322203e+07      2.431072e+08
50%        8.267071e+06      4.114324e+07      4.558409e+08
75%        1.238415e+07      4.903424e+07      6.657051e+08
max        1.655882e+07      7.275255e+07      9.029696e+08

[8 rows x 50 columns]

In [21]:
# Aggregate information per customer
customer_aggregates = df.groupby('MSISDN/Number').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Handset Type': 'first',
    'Avg Bearer TP DL (kbps)': 'mean'
}).reset_index()

# Rename columns for clarity
customer_aggregates.rename(columns={
    'TCP DL Retrans. Vol (Bytes)': 'avg_tcp_retransmission',
    'Avg RTT DL (ms)': 'avg_rtt',
    'Handset Type': 'handset_type',
    'Avg Bearer TP DL (kbps)': 'avg_throughput'
}, inplace=True)

print("Aggregated customer information:")
print(customer_aggregates.head())

Aggregated customer information:
   MSISDN/Number  avg_tcp_retransmission     avg_rtt  \
0   3.360168e+10            1.525910e+07   66.991436
1   3.360171e+10            2.080991e+07  110.000000
2   3.360171e+10            5.751940e+05  145.000000
3   3.360171e+10            1.798137e+07  104.397853
4   3.360171e+10            2.080991e+07   29.000000

                        handset_type  avg_throughput
0         Samsung Galaxy A5 Sm-A520F     9263.906685
1            Apple iPhone Se (A1723)       23.000000
2             Apple iPhone 6 (A1586)     7677.000000
3  Samsung Galaxy S8 Plus (Sm-G955F)    24626.750000
4        Apple iPhone 7 Plus (A1784)       63.000000

In [22]:
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances

# Assuming engagement_metrics DataFrame contains the normalized metrics and cluster assignments
# Calculate the centroid of the less engaged cluster (cluster 0)
less_engaged_centroid = engagement_metrics[['session_frequency', 'total_duration', 'total_traffic']].mean().values

# Calculate the Euclidean distance between each user and the less engaged cluster centroid
engagement_metrics['engagement_score'] = euclidean_distances(engagement_metrics[['session_frequency', 'total_duration', 'total_traffic']], [less_engaged_centroid]).flatten()

print("Engagement scores assigned:")
print(engagement_metrics[['MSISDN/Number', 'engagement_score']].head())

# Calculate the centroid of the worst experience cluster (cluster 0)
worst_experience_centroid = experience_metrics[['avg_tcp_retransmission', 'avg_rtt', 'avg_throughput']].mean().values

# Ensure there are no NaN values in the experience metrics
experience_metrics = experience_metrics.fillna(experience_metrics.mean())

# Calculate the Euclidean distance between each user and the worst experience cluster centroid
experience_metrics['experience_score'] = euclidean_distances(experience_metrics[['avg_tcp_retransmission', 'avg_rtt', 'avg_throughput']], [worst_experience_centroid]).flatten()

print("Experience scores assigned:")
print(experience_metrics[['MSISDN/Number', 'experience_score']].head())

Engagement scores assigned:
   MSISDN/Number  engagement_score
0   3.360100e+10      1.877285e+08
1   3.360100e+10      5.341025e+08
2   3.360100e+10      9.499562e+07
3   3.360101e+10      2.686414e+08
4   3.360101e+10      7.664488e+08
Experience scores assigned:
   MSISDN/Number  experience_score
0   3.360100e+10      1.159723e+04
1   3.360100e+10      1.158634e+04
2   3.360100e+10      1.158600e+04
3   3.360101e+10      1.685233e+07
4   3.360101e+10      7.503769e+06

In [23]:
# Merge engagement and experience scores into a single DataFrame
satisfaction_metrics = pd.merge(engagement_metrics[['MSISDN/Number', 'engagement_score']], experience_metrics[['MSISDN/Number', 'experience_score']], on='MSISDN/Number')

# Calculate the satisfaction score as the average of engagement and experience scores
satisfaction_metrics['satisfaction_score'] = satisfaction_metrics[['engagement_score', 'experience_score']].mean(axis=1)

# Report the top 10 satisfied customers
top_10_satisfied_customers = satisfaction_metrics.nlargest(10, 'satisfaction_score')

print("Top 10 satisfied customers:")
print(top_10_satisfied_customers)

Top 10 satisfied customers:
       MSISDN/Number  engagement_score  experience_score  satisfaction_score
6437    3.361489e+10      8.155270e+09      1.655138e+07        4.085911e+09
92923   3.376054e+10      7.823817e+09      9.990065e+06        3.916904e+09
13180   3.362578e+10      7.808680e+09      1.679339e+07        3.912737e+09
13526   3.362632e+10      7.280210e+09      1.680451e+07        3.648507e+09
76363   3.367588e+10      7.200150e+09      1.294854e+07        3.606549e+09
37052   3.365973e+10      7.014902e+09      1.683578e+07        3.515869e+09
63028   3.366646e+10      6.617540e+09      1.669172e+07        3.317116e+09
92577   3.376041e+10      6.441410e+09      1.591972e+07        3.228665e+09
57241   3.366471e+10      6.181057e+09      1.608867e+07        3.098573e+09
86455   3.369879e+10      5.849939e+09      1.416115e+07        2.932050e+09

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Prepare the data for regression
X = satisfaction_metrics[['engagement_score', 'experience_score']]
y = satisfaction_metrics['satisfaction_score']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build and train the regression model
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

# Predict satisfaction scores on the test set
y_pred = regression_model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 5.446571069712609e-15
R-squared: 1.0

In [26]:
from sklearn.cluster import KMeans

# Run K-Means clustering with k=2 on engagement and experience scores
kmeans = KMeans(n_clusters=2, random_state=42)
satisfaction_metrics['cluster'] = kmeans.fit_predict(satisfaction_metrics[['engagement_score', 'experience_score']])

print("Cluster assignments:")
print(satisfaction_metrics['cluster'].value_counts())

Cluster assignments:
cluster
0    99923
1     6933
Name: count, dtype: int64

In [27]:
# Aggregate the average satisfaction and experience score per cluster
cluster_aggregates = satisfaction_metrics.groupby('cluster').agg({
    'engagement_score': 'mean',
    'experience_score': 'mean',
    'satisfaction_score': 'mean'
}).reset_index()

print("Cluster aggregates:")
print(cluster_aggregates)

Cluster aggregates:
   cluster  engagement_score  experience_score  satisfaction_score
0        0      2.748306e+08      1.185152e+07        1.433410e+08
1        1      1.321398e+09      2.229206e+07        6.718451e+08

In [28]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

# Create a cursor object
cursor = conn.cursor()

# Create a table for the satisfaction metrics
cursor.execute("""
    CREATE TABLE IF NOT EXISTS satisfaction_metrics (
        MSISDN_Number VARCHAR(255),
        engagement_score FLOAT,
        experience_score FLOAT,
        satisfaction_score FLOAT,
        cluster INT
    )
""")

# Insert data into the table
for index, row in satisfaction_metrics.iterrows():
    cursor.execute("""
        INSERT INTO satisfaction_metrics (MSISDN_Number, engagement_score, experience_score, satisfaction_score, cluster)
        VALUES (%s, %s, %s, %s, %s)
    """, (row['MSISDN/Number'], row['engagement_score'], row['experience_score'], row['satisfaction_score'], row['cluster']))

# Commit the transaction
conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data exported to MySQL database.")

ModuleNotFoundError: No module named 'mysql'